services:
  usbmuxd-backend:
    image: ${DESKTOP_PLUGIN_IMAGE}
    container_name: ios-tunnel
    environment:
      - USBMUXD_SOCKET_ADDRESS=host.docker.internal:27015
    command: [
      "/backend",
      "-host", "host.docker.internal:27015",
      "-socket", "/run/guest-services/backend.sock",
      "-tunnel"
    ]
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
